
  <div class="row">
    <div class="col-lg-10">

    </div>
    <div class="col-lg-2">
      <div class="well sidebar-nav">
        <div align="center">
          <%= image_tag "pic.jpg", size: "150x232" %>
          <h1 class="type">Welcome to the Bizarre Bazaar</h1>
        <h5 class="body">-Your source for everything rolling around inside the mind of <strong>C. W. Briggs</strong></h5>
        </div>
      </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->

<!-- /container -->